<span class="Icon {{#if underneath}}Icon--underneath{{/if}} {{#if gray}}Icon--gray{{/if}} {{#if reverse}}Icon--reverse{{/if}}">
	<i class="icon-{{icon}}"></i>
	<small class="Icon-text {{#if reverse}}Icon-text--reverse{{/if}} {{#if underneath}}Icon-text--underneath{{/if}} {{#if gray}}Icon-text--gray{{/if}}">text</small>
</span>
