<section class="Section">
	<div class="Logowall">
		<p class="Logowall-title">m.ride has been featured on</p>
		<div class="Grid LogoGrid">
			<a href="#" class="Grid-cell Grid-cell--1of6 LogoGrid-cell">
				<img src="/images/logo/bike.png" alt="" />
			</a>
			<a href="#" class="Grid-cell Grid-cell--1of6 LogoGrid-cell">
				<img src="/images/logo/petro.png" alt="" />
			</a>
			<a href="#" class="Grid-cell Grid-cell--1of6 LogoGrid-cell">
				<img src="/images/logo/shed.png" alt="" />
			</a>
			<a href="#" class="Grid-cell Grid-cell--1of6 LogoGrid-cell">
				<img src="/images/logo/pipe.png" alt="" />
			</a>
			<a href="#" class="Grid-cell Grid-cell--1of6 LogoGrid-cell">
				<img src="/images/logo/pipe.png" alt="" />
			</a>
			<a href="#" class="Grid-cell Grid-cell--1of6 LogoGrid-cell">
				<img src="/images/logo/pipe.png" alt="" />
			</a>
			<a href="#" class="Grid-cell Grid-cell--1of6 LogoGrid-cell">
				<img src="/images/logo/pipe.png" alt="" />
			</a>
			<a href="#" class="Grid-cell Grid-cell--1of6 LogoGrid-cell">
				<img src="/images/logo/pipe.png" alt="" />
			</a>
			<a href="#" class="Grid-cell Grid-cell--1of6 LogoGrid-cell">
				<img src="/images/logo/ride.png" alt="" />
			</a>
		</div>
	</div>
</section>
