.Logowall {
	max-width: $layout-l;
	margin-left: auto;
	margin-right: auto;
}
.Logowall-title {
	width: 100%;
	text-align: center;
	margin-bottom: 1.5rem;
	@media (min-width: $layout-m) {
		margin-bottom: 4em;
	}
}
.LogoGrid .LogoGrid-cell {
	padding: rem($space) rem($space/2);
}
