/**
 * Hide specific elements at a specific viewport
 */

// Only show tablet and lower
.u-tabletLower {
	// gave it a max instead of min, to make sure to now overwrite a flex property
	@media (min-width: $layout-m) {
		display: none !important;
	}
}
// Only show tablet and higher
.u-tabletUp {
	// gave it a max instead of min, to make sure to now overwrite a flex property
	display: none !important;
	@media (min-width: $layout-m) {
		display: inherit !important;
	}
}

// Only on mobile
.u-mobileOnly {
	@media (max-width: $layout-s) {
		display: none !important;
	}
}

// Only Layout-sm

.u-smUp {
	@media (min-width: 661px) {
		display: none !important;
	}
}

.u-smLower {
	@media (max-width: $layout-sm) {
		display: none !important;
	}
}

.u-noLandscape {
	@media (orientation: landscape) and (max-height: 650px) {
		display: none;
	}
}
.u-onlyLandscape {
	@media (orientation: landscape) and (max-height: 650px) {
		display: block;
	}
}
