	</main>

	<footer class="SiteFooter">
		<div class="SiteFooter-socialNav u-sm-size6of10 u-md-size3of10 u-lg-size3of10 u-flex">
			<a href="#" class="Icon">
				<i class="icon-facebook"></i>
			</a>
			<a href="#" class="Icon">
				<i class="icon-youtube"></i>
			</a>
			<a href="#" class="Icon">
				<i class="icon-twitter"></i>
			</a>
		</div>
		<div class="SiteFooterNav u-flex">
			<a class="SiteFooterNav-item" href="#">Link</a>
			<a class="SiteFooterNav-item" href="#">Link</a>
			<a class="SiteFooterNav-item" href="#">Link</a>
			<a class="SiteFooterNav-item" href="#">Link</a>
		</div>
	</footer>


	<script src="/scripts/bundle.js"></script>
</body>
</html>
